# Backend env
backend/.env

# Backend pycache
backend/app/__pycache__
backend/app/models/__pycache__
backend/tests/__pycache__
backend/tests/database_tests/__pycache__
backend/tests/route_tests/__pycache__
backend/app/routes/__pycache__
backend/app/schemas/__pycache__
backend/.pytest_cache
backend/app/scraper/__pycache__

# VSCode settings
.vscode