fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
lxml
python-dotenv
apscheduler
email-validator
passlib[bcrypt]
python-jose[cryptography]
python-multipart
bcrypt
httpx
alembic
bs4
pytest